@import "./Variables.scss";

.all-cards-flex {
  @include flex-row-center;
}

.all-cards {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px;
  gap: 30px;
  justify-items: center;
  max-width: 1300px;
}

@media (min-width: 800px) {
  .all-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .all-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
