@import "./Variables.scss";

* {
  font-family: $main-font;
}

html {
  background-color: $dark-color;
  height: 100vh;
}

h1,
h2,
li,
button,
input {
  font-family: $title-font;
}

h1 {
  text-align: center;
}

button {
  @include button;
}

button:hover {
  @include button-on-hover;
}
