@import "./Variables.scss";

* {
  font-family: var(--main-font);
}

html {
  height: 100vh;
}

body {
  background-color: var(--dark-color);
}

h1,
h2,
li,
button,
input {
  font-family: var(--title-font);
}

h1 {
  text-align: center;
}

button {
  @include button;
}

button:hover {
  @include button-on-hover;
}
