@import "./Variables.scss";

.checkout-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  position: absolute;
  top: 100%;
  right: -5%;
  padding-top: 20px;
  text-align: center;

  h1 {
    text-align: center;
  }

  button {
    min-width: 200px;
  }
}
