@import "./Variables.scss";

.form {
  grid-area: 2 / 1 / 4 / 3;
  @include flex-column-center;
  width: 100%;
}

.form-field {
  width: 50%;
  margin: 5px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;

  label {
    font-family: var(--title-font);
    font-size: 20px;
  }

  input,
  textarea,
  select {
    font-family: var(--main-font);
    width: 50%;
    border-radius: 20px;
    padding: 3px;
    padding-left: 5px;
    border: solid 2px var(--accent-color);
    width: 60%;
  }
}

@media only screen and (max-width: 700px) {
  .form-field {
    width: 90%;
  }
}
