@import "./Variables.scss";

.log-in {
  @include card;
  height: 250px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;

  form {
    @include flex-column-center;

    input {
      padding: 5px;
      border-radius: 20px;
      border: solid 2px #a2a1a1;
    }
  }
}
