@import "./Variables.scss";

.main-navigation {
  margin-top: 10px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 25px;
  padding: 20px;
  margin-left: 20px;
  list-style-type: none;
  font-size: 25px;
  .nav-link {
    font-family: $title-font;
    color: $light-color;
    text-transform: uppercase;
  }
  .nav-link.active {
    color: $glow-color;
    text-shadow: 0 0 7px $glow-color;
  }
}
