@import "./Variables.scss";

.products-page {
  @include flex-column-center;
}

.page-align {
  height: 80vh;
  @include flex-row-center;
}

.page {
  @include card;
  margin-top: 60px;
  display: grid;
  grid-template-columns: (2fr 1fr);
  grid-template-rows: (1fr 2fr 2fr);
  width: 80%;
  max-width: 800px;

  h1 {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 50px;
    text-shadow: 0 0 7px var(--primary-color);
    color: #2d2c2c;
  }
  p {
    grid-area: 2 / 1 / 4 / 2;
    font-size: 30px;
  }
  img {
    width: 250px;
    height: 250px;
    grid-area: 2 / 2 / 4 / 3;
  }

  .error-link {
    @include button;
    justify-self: center;
    grid-area: 4 / 1 / 5 / 3;
    background-color: #85a3e3;
    border-color: #85a3e3;
  }

  .page-content {
    grid-area: 1 / 1 / 4 / 4;
  }
}

@media only screen and (max-width: 1000px) {
  .page {
    h1 {
      grid-area: 1 / 1 / 2 / 2;
      font-size: 55px;
    }
    img {
      width: 200px;
      height: 200px;
      grid-area: 1 / 2 / 2 / 3;
      justify-self: center;
    }
    p {
      grid-area: 2 / 1 / 4 / 4;
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .page {
    h1 {
      font-size: 46px;
    }
    img {
      width: 160px;
      height: 160px;
    }
    p {
      font-size: 26px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .page {
    h1 {
      grid-area: 1 / 1 / 2 / 2;
      font-size: 35px;
    }
    img {
      width: 120px;
      height: 120px;
      grid-area: 1 / 2 / 2 / 3;
      justify-self: center;
    }
    p {
      grid-area: 2 / 1 / 4 / 4;
      font-size: 25px;
    }
  }
}
