@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
.page-align {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-page-align {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.products-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 350px;
  height: 450px;
  padding: 30px;
  max-width: 100%;
  background-color: #edd9b7;
  border-radius: 20px;
  border: solid 5px rgb(45, 44, 44);
  box-shadow: 0px 0px 15px 5px #f8bb22;
  font-family: "Macondo", cursive;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  width: 80%;
  max-width: 800px;
}
.page h1 {
  grid-area: 1/1/2/3;
  font-size: 50px;
  text-shadow: 0 0 7px #f8bb22;
  color: #2d2c2c;
}
.page p {
  grid-area: 2/1/4/2;
  font-size: 30px;
}
.page img {
  width: 250px;
  height: 250px;
  grid-area: 2/2/4/3;
}
.page .error-link {
  min-width: 100px;
  max-width: 40%;
  margin: 10px;
  padding: 5px;
  font-family: "Macondo", cursive;
  font-size: 20px;
  color: #ffffff;
  border-radius: 20px;
  border: solid 2px #f8bb22;
  background-color: #f8bb22;
  justify-self: center;
  grid-area: 4/1/5/3;
  background-color: #85a3e3;
  border-color: #85a3e3;
}

.user-page {
  grid-template-rows: 1fr;
  max-height: 160px;
}
.user-page h1 {
  grid-area: 1/1/2/3;
  text-align: left;
}
.user-page img {
  grid-area: 1/2/2/3;
  max-width: 100px;
  max-height: 100px;
  justify-self: right;
}

@media only screen and (max-width: 1000px) {
  .page h1 {
    font-size: 45px;
  }
  .page img {
    width: 225px;
    height: 225px;
  }
  .user-page h1 {
    grid-area: 1/1/2/2;
  }
  .user-page img {
    grid-area: 1/2/2/3;
  }
}
@media only screen and (max-width: 800px) {
  .page img {
    width: 200px;
    height: 200px;
  }
  .user-page h1 {
    grid-area: 1/1/2/2;
  }
  .user-page img {
    grid-area: 1/2/2/3;
  }
}
@media only screen and (max-width: 700px) {
  .page h1 {
    grid-area: 1/1/2/4;
  }
  .page img {
    width: 150px;
    height: 150px;
    grid-area: 3/1/4/4;
    justify-self: center;
  }
  .user-page h1 {
    grid-area: 1/1/2/2;
  }
  .user-page img {
    grid-area: 1/2/2/3;
  }
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.user a {
  min-width: 100px;
  max-width: 40%;
  margin: 10px;
  padding: 5px;
  font-family: "Macondo", cursive;
  font-size: 20px;
  color: #ffffff;
  border-radius: 20px;
  border: solid 2px #f8bb22;
  background-color: #f8bb22;
  margin-top: 40px;
  width: 20%;
  text-align: center;
}
.user a:hover {
  border: solid 2px #ffffff;
  box-shadow: 0px 0px 15px 5px #f8bb22;
  color: #ffffff;
}/*# sourceMappingURL=Page.css.map */