@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
:root {
  --light-color: #ffffff;
  --dark-color: #000000;
  --accent-color: #ffffff;
  --primary-color: #f8bb22;
  --text-accent-color: #cb9006;
  --secondary-color: #85a3e3;
  --danger-color: #f14e4e;
  --main-font: "Caveat", cursive;
  --title-font: "Macondo", cursive;
  --card-color: #edd9b7;
  --navbar-color: rgba(0, 0, 0, 0.8);
}

[data-theme=vinted] {
  --light-color: #000000;
  --dark-color: #ffffff;
  --accent-color: #86bcc1;
  --primary-color: #04a9b8;
  --text-accent-color: #00747f;
  --secondary-color: #85a3e3;
  --danger-color: #f14e4e;
  --card-color: #f2f2f2;
  --navbar-color: #ffffff;
}

[data-theme=rpg] {
  --light-color: #ffffff;
  --dark-color: #000000;
  --primary-color: #f8bb22;
  --text-accent-color: #cb9006;
  --secondary-color: #85a3e3;
  --danger-color: #f14e4e;
  --card-color: #edd9b7;
}

.products-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-align {
  margin-top: 40px;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  width: 350px;
  height: 450px;
  padding: 30px;
  max-width: 100%;
  background-color: var(--card-color);
  border-radius: 20px;
  border: solid 5px rgb(45, 44, 44);
  box-shadow: 0px 0px 15px 5px var(--primary-color);
  font-family: var(--title-font);
  margin-top: 60px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  width: 80%;
  max-width: 800px;
}
.page h1 {
  grid-area: 1/1/2/3;
  font-size: 50px;
  text-shadow: 0 0 7px var(--primary-color);
  color: #2d2c2c;
}
.page p {
  grid-area: 2/1/4/2;
  font-size: 30px;
}
.page img {
  width: 250px;
  height: 250px;
  grid-area: 2/2/4/3;
}
.page .error-link {
  min-width: 100px;
  max-width: 40%;
  margin: 10px;
  padding: 5px;
  font-family: "Macondo", cursive;
  font-size: 20px;
  color: #ffffff;
  border-radius: 20px;
  border: solid 2px var(--primary-color);
  background-color: var(--primary-color);
  justify-self: center;
  grid-area: 4/1/5/3;
  background-color: #85a3e3;
  border-color: #85a3e3;
}
.page .page-content {
  grid-area: 1/1/4/4;
}

@media only screen and (max-width: 1000px) {
  .page h1 {
    grid-area: 1/1/2/2;
    font-size: 55px;
  }
  .page img {
    width: 180px;
    height: 180px;
    grid-area: 1/2/2/3;
    justify-self: center;
  }
  .page p {
    grid-area: 2/1/4/4;
    font-size: 28px;
  }
}
@media only screen and (max-width: 900px) {
  .page h1 {
    font-size: 50px;
  }
  .page img {
    width: 160px;
    height: 160px;
  }
  .page p {
    font-size: 28px;
  }
}
@media only screen and (max-width: 850px) {
  .page h1 {
    font-size: 40px;
  }
  .page img {
    width: 130px;
    height: 130px;
  }
  .page p {
    font-size: 24px;
  }
}
@media only screen and (max-width: 600px) {
  .page h1 {
    grid-area: 1/1/2/2;
    font-size: 30px;
  }
  .page img {
    width: 100px;
    height: 100px;
    grid-area: 1/2/2/3;
    justify-self: center;
  }
  .page p {
    grid-area: 2/1/4/4;
    font-size: 24px;
  }
}/*# sourceMappingURL=Page.css.map */