@import "./Variables.scss";

.user-product {
  opacity: 40%;
  box-shadow: none;

  a {
    text-align: center;
    min-width: 150px;
    max-width: 200px;
    margin: 10px;
    padding: 5px;
    font-family: "Macondo", cursive;
    font-size: 20px;
    color: $light-color;
    border-radius: 20px;
    border: solid 2px #474646;
    background-color: #474646;
  }
}

.user {
  .user-card-btn {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;

    button,
    a {
      margin: 0px;
      height: 80%;
    }

    button {
      background-color: $danger-color;
      border: solid 2px $danger-color;
    }

    button:hover {
      box-shadow: 0px 0px 15px 5px $danger-color;
      border: solid 2px $light-color;
    }

    a {
      background-color: $secondary-color;
      border: solid 2px $secondary-color;
    }

    a:hover {
      box-shadow: 0px 0px 15px 5px $secondary-color;
      border: solid 2px $light-color;
    }
  }
}
